/*TODO
Items to revisit
1. make the calculator look like the one in the mockup.*/


#container {
  /*The following justification is for the children element(s)*/
  display: flex;
  justify-content: center;
  align-items: center;
  height: 650px;
  width: 30%;
  margin: auto;
  border: .5px solid orange;
}

#inner {
  /*display: flex;
  flex-direction: column;
  justify-content: center;*/
  /*The following justification is for the children element(s)*/
  display: flex;
  justify-content: center;
  align-items: center;
  /*background-color: #64b254;*/
  width: 325px;
  margin: auto;
  height: 405px;
  border: 2px solid blue;
}

table {
  border: 1px solid black;
  /*display: flex;
  flex-direction: column;
  justify-content: center;*/
  /*height: 20em;*/
  /*display: flex;
  justify-content: center;
  align-items: center;*/
}

td {
  border: 1px solid blue;
  height: 5em;
  width: 5em;
  text-align: center;
}

.digits{
  color: white;
  background-color: #64b254;
}

.operations{
  /*color: white;*/
  background-color: #84c179;
}
